*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f7f7f7;
    background-image: url("images/1-19866_transparent-white-tree-png-silver-birch-tree-cad.png");
    background-position: top;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.flex{
    display: flex;
    gap: 1rem;
}

.logo{
    margin: 1rem;
    mix-blend-mode: darken;
    cursor: pointer;

}

.primary-header{
    padding-right: 2rem;
    align-items: center;
    justify-content: space-between;
}

.primary-navigation{
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 2em;
}

.mobile-nav-toggle{
 display: none;
}


.primary-navigation a{
    text-decoration: none;
    color: black;
}

.primary-navigation a > span{
    margin-inline: .5rem;
}

.mainContent{
    display: block;
    height: 100vh;
}


@media (max-width: 50em) {
    .primary-navigation{
        gap: 2em;
        position: fixed;
        z-index: 1000;
        inset: 0 0 0 75%;
        flex-direction: column;
        padding: min(20vh,10rem) 1em;
        background: rgba(0, 0, 0, 0.342);
        backdrop-filter: blur(1em);
        transform: translateX(100%);
        transition: transform 300ms ease-out;
    }

    .primary-navigation[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle{
        display: block;
        position: absolute;
        z-index: 9999;
        right: 30px;
        height: 2rem;
        aspect-ratio: 1;
        background-image: url('images/Hamburger_icon.svg.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        background-color: transparent;
        mix-blend-mode: darken;
        border: 0;
        cursor: pointer;
    }

    .mobile-nav-toggle[aria-expanded="true"]{
        background-image: url(images/close_Hamburger_icon.svg.png);
        height: 1.5rem;

    }

}

