*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f7f7f7;
    overflow-x: hidden;
    background-image: url("images/1-19866_transparent-white-tree-png-silver-birch-tree-cad.png");
    background-position: top;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-height: 100vh; 
}

.flex{
    display: flex;
    gap: 1rem;
}

.logo{
    mix-blend-mode: darken;
    cursor: pointer;

}
.primary-header{
    padding-right: 1rem;
    padding-top: 1rem;
    align-items: start;
    justify-content: space-between;
}

.primary-navigation{
    gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 75%;
    flex-direction: column;
    padding: min(20vh,10rem) 1em;
    background: rgba(0, 0, 0, 0.753);
    backdrop-filter: blur(1em);
    transform: translateX(100%);
    transition: transform 300ms ease-out;
    list-style: none;
}
.primary-navigation a{
    text-decoration: none;
    color: #f7f7f7d7;
}
.primary-navigation[data-visible="true"]{
    transform: translateX(0%);
}

.mobile-nav-toggle{
    display: block;
    position: absolute;
    z-index: 9999;
    right: 30px;
    height: 2rem;
    aspect-ratio: 1;
    background-image: url('images/Hamburger_icon.svg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    mix-blend-mode: darken;
    border: 0;
    cursor: pointer;
}

.mobile-nav-toggle[aria-expanded="true"]{
    background-image: url(images/close_Hamburger_icon.svg.png);
    height: 1.5rem;
}

.primary-navigation a > span{
    margin-inline: .5rem;
}

.hello1{
    display: none;
}

.container{
    margin: 2rem;
    overflow: hidden
}

.hello2{
    display: grid;
    place-content: center;
    background-color: rgba(0, 0, 0, 0.664);
    color: white;
}

.swiper {
    width: 90%;
    border-radius: 10px;

}


.swiper-slide img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}









@media (min-width: 63em) {
    .primary-header{
        padding-right: 2rem;
        align-items: center;
        justify-content: space-between;
    }
    
    .primary-navigation{
        all: unset;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 2em;
    }
    
    .mobile-nav-toggle{
     display: none;
    }
    
    
    .primary-navigation a{
        text-decoration: none;
        color: black;
    }
    

    .flex{
        display: flex;
        gap: 1rem;
    }

    .main{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        overflow: hidden
    }

    .hello1{
        display: grid;
        grid-column: 0/1;
        place-content: center;
    }

    .hello2{
        display:none
    }

    .container{
        grid-column: 2/5;
        }
}