*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    background: #f7f7f7;
    overflow-x: hidden;
}

/* ----- Enter landing page ----- */

.enter{
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #f7f7f7;
    mix-blend-mode: darken;

}

.enter img{
    height: 500px;
}

/* ----- Navigation ----- */


.flex{
    display: flex;
    gap: 1rem;
}

.logo{
    mix-blend-mode: darken;
    cursor: pointer;

}
.primary-header{
    padding-right: 1rem;
    padding-top: 1rem;
    align-items: start;
    justify-content: space-between;
}

.primary-navigation{
    gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 75%;
    flex-direction: column;
    padding: min(20vh,10rem) 1em;
    background: rgba(0, 0, 0, 0.753);
    backdrop-filter: blur(1em);
    transform: translateX(100%);
    transition: transform 300ms ease-out;
    list-style: none;
}
.primary-navigation a{
    text-decoration: none;
    color: #f7f7f7d7;
}
.primary-navigation[data-visible="true"]{
    transform: translateX(0%);
}

.mobile-nav-toggle{
    display: block;
    position: absolute;
    z-index: 9999;
    right: 30px;
    height: 2rem;
    aspect-ratio: 1;
    background-image: url('images/Hamburger_icon.svg.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: transparent;
    mix-blend-mode: darken;
    border: 0;
    cursor: pointer;
}

.mobile-nav-toggle[aria-expanded="true"]{
    background-image: url(images/close_Hamburger_icon.svg.png);
    height: 1.5rem;
}

.primary-navigation a > span{
    margin-inline: .5rem;
}

/* ----- Main Content ----- */

.main{
    min-height: 65vh;
}

.menu, .about, .contact{
    text-align: center;
}

.hello1{
    display: none;
}

.hello2{
    display: grid;
    place-content: left;
    background-image: url("images/1-19866_transparent-white-tree-png-silver-birch-tree-cad.png");
    background-position: 90%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 50vh;
    padding-right:5rem;
    padding-left: 5rem;
}

.container{
    margin: 2rem;
    overflow: hidden
}


.swiper {
    width: 90%;
    border-radius: 10px;

}


.swiper-slide img{
    width: 100%;
    height: 50vh;
    object-fit: cover;
    object-position: center;
}


/* ----- Footer ----- */

.footer{
    /* display: grid; */
    padding: 1rem;
    grid-template-columns: repeat(3, 1fr);
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

.rights{
    /* grid-column: 1/2; */
    display: grid;
    text-align: center;
}

.footer a{
    /* grid-column: 2/3; */
    display: grid;
    text-align: center;
}

.creator{
    /* grid-column: 3/4; */
    display: grid;
    text-align: center;
}




/* ----- Large Screen ----- */


@media (min-width: 63em) {
    .primary-header{
        padding-right: 2rem;
        align-items: center;
        justify-content: space-between;
    }
    
    .primary-navigation{
        all: unset;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 2em;
    }
    
    .mobile-nav-toggle{
     display: none;
    }
    
    
    .primary-navigation a{
        text-decoration: none;
        color: black;
    }
    

    .flex{
        display: flex;
        gap: 1rem;
    }

    .main{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        overflow: hidden;
        min-height: 65vh;
        place-content: center;
    }

    .menu, .about, .contact{
        grid-column: 1/6;
        text-align: center;
    }

    .hello1{
        display: grid;
        margin: 2rem 0rem 2rem 2rem;
        grid-column: 1/3;
        background-image: url("images/1-19866_transparent-white-tree-png-silver-birch-tree-cad.png");
        background-position: right;
        background-repeat: no-repeat;
        background-size: contain;
        place-content: left;
    }

    .hello2{
        display:none
    }

    .container{
        grid-column: 3/6;
        margin: unset;
        margin: 2rem 0 2rem 0;
        }
}